.loader-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader-layout-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

/*----Header----*/
.tabs {
    background: transparent;
    height: 100%;
}

.tabs .tab {
    height: 100%;
    line-height: unset;
}

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
    color: #ffffff;
}

.tabs .indicator {
    background-color: #ffffff;
}

nav .brand-logo.left {
    padding-left: 20px;
    cursor: default;
}

.modal-wrapper textarea {
    font-family: monospace;
    min-height: 200px;
    resize: none;
    border: none;
    border-bottom: 2px solid darkgreen;
}

.modal-wrapper textarea:focus {
    border: none;
    outline-color: #29b6f6;
}
/*--------*/

.navigation {
    position: fixed;
    top: 0;
    z-index: 100;
}

.main-wrapper {
    margin-top: 90px;
}

.main-wrapper .modal {
    top: 15% !important;
    min-height: 330px;
    max-height: 450px;
    min-width: 650px;
}

.main-wrapper #loader {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.border-top {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.modal-header {
    padding: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.modal .modal-content {
    padding-bottom: 0;
}

#startSession {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.log {
    width: 800px;
    margin: 30px auto;
}

.settings-wrapper {
    width: 800px;
    margin: 30px auto;
}

.settings-wrapper > h2 {
    font-weight: 600;
    font-size: 14px;
}

.card.settings {
    padding: 1px;
}

.card.settings ul ul {
    margin-left: 40px;
}

.switch label {
    font-size: 1.2rem;
}

.func-name {
    vertical-align: -webkit-baseline-middle;
}

.save-ast {
    float: right;
    margin-right: 20px;
}

/*-----------------*/

table, tr {
    width: 800px !important;
    max-width: 800px !important;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: none !important;
    border-right: 1px solid rgba(0, 0, 0, .06) !important;
    border-bottom: 1px solid rgba(0, 0, 0, .06) !important
}

td {
    width: 760px !important;
    max-width: 760px !important;
    overflow: auto !important;
}

tr > th:first-child {
    max-width: 40px !important;
    overflow: auto !important;
    text-align: center;
}

/*-----------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.modal .modal-footer {
    text-align: center;
}

.modal-footer .btn.init {
    float: none;
    text-align: center;
}

::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a7a4a4;
    border: 0px none #ffffff;
    border-radius: 22px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 53px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
