.loader-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader-layout-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

/*----Header----*/
.tabs {
    background: transparent;
    height: 100%;
}

.tabs .tab {
    height: 100%;
    line-height: unset;
}

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
    color: #ffffff;
}

.tabs .indicator {
    background-color: #ffffff;
}

nav .brand-logo.left {
    padding-left: 20px;
    cursor: default;
}

/*--------*/

.main-wrapper .modal {
    top: 15% !important;
    min-height: 330px;
    max-height: 450px;
    min-width: 650px;
}

.main-wrapper #loader {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.border-top {
    border-top: 1px solid rgba(160,160,160,0.2);
}

.modal-header {
    padding: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(160,160,160,0.2);
}

.modal .modal-content {
    padding-bottom: 0;
}

#startSession {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------*/

table, tr {
    width: 740px !important;
    max-width: 740px !important;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: none !important;
    border-right: 1px solid rgba(0, 0, 0, .06) !important;
    border-bottom: 1px solid rgba(0, 0, 0, .06) !important
}

td {
    width: 695px !important;
    max-width: 695px !important;
    overflow: auto !important;
}

tr > th:first-child {
    max-width: 40px !important;
    overflow: auto !important;
}

/*-----------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.modal .modal-footer {
    text-align: center;
}

.modal-footer .btn.init {
    float: none;
    text-align: center;
}

::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a7a4a4;
    border: 0px none #ffffff;
    border-radius: 22px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 53px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
